.team-colors .Blue .a1 {
  background-color: #507f39;
}
.team-colors .Blue .a2 {
  background-color: #397f3f;
}
.team-colors .Blue .a3 {
  background-color: #397f64;
}
.team-colors .Blue .a4 {
  background-color: #397d7f;
}
.team-colors .Blue .a5 {
  background-color: #396b7f;
}
.team-colors .Blue .a6 {
  background-color: #395d7f;
}
.team-colors .Blue .a7 {
  background-color: #394f7f;
}
.team-colors .Blue .a8 {
  background-color: #39427f;
}
.team-colors .Blue .a9 {
  background-color: #4c397f;
}
.team-colors .Blue .a10 {
  background-color: #51397f;
}
 
.team-colors .Blue .b1 {
  background-color: #65b23e;
}
.team-colors .Blue .b2 {
  background-color: #3eb248;
}
.team-colors .Blue .b3 {
  background-color: #3eb286;
}
.team-colors .Blue .b4 {
  background-color: #3eaeb2;
}
.team-colors .Blue .b5 {
  background-color: #3e91b2;
}
.team-colors .Blue .b6 {
  background-color: #3e7ab2;
}
.team-colors .Blue .b7 {
  background-color: #3e63b2;
}
.team-colors .Blue .b8 {
  background-color: #3e4db2;
}
.team-colors .Blue .b9 {
  background-color: #5d3eb2;
}
.team-colors .Blue .b10 {
  background-color: #673eb2;
}
 
.team-colors .Blue .c1 {
  background-color: #72e539;
}
.team-colors .Blue .c2 {
  background-color: #39e547;
}
.team-colors .Blue .c3 {
  background-color: #39e5a3;
}
.team-colors .Blue .c4 {
  background-color: #39dfe5;
}
.team-colors .Blue .c5 {
  background-color: #39b4e5;
}
.team-colors .Blue .c6 {
  background-color: #3992e5;
}
.team-colors .Blue .c7 {
  background-color: #396fe5;
}
.team-colors .Blue .c8 {
  background-color: #3950e5;
}
.team-colors .Blue .c9 {
  background-color: #6739e5;
}
.team-colors .Blue .c10 {
  background-color: #7539e5;
}
 
.team-colors .Blue .d1 {
  background-color: #5cfc0c;
}
.team-colors .Blue .d2 {
  background-color: #0cfc20;
}
.team-colors .Blue .d3 {
  background-color: #0cfca0;
}
.team-colors .Blue .d4 {
  background-color: #0cf4fc;
}
.team-colors .Blue .d5 {
  background-color: #0cb8fc;
}
.team-colors .Blue .d6 {
  background-color: #0c88fc;
}
.team-colors .Blue .d7 {
  background-color: #0c58fc;
}
.team-colors .Blue .d8 {
  background-color: #0c2cfc;
}
.team-colors .Blue .d9 {
  background-color: #4c0cfc;
}
.team-colors .Blue .d10 {
  background-color: #600cfc;
}
 
.team-colors .Blue .e1 {
  background-color: #4acc0a;
}
.team-colors .Blue .e2 {
  background-color: #0acc1a;
}
.team-colors .Blue .e3 {
  background-color: #0acc81;
}
.team-colors .Blue .e4 {
  background-color: #0ac5cc;
}
.team-colors .Blue .e5 {
  background-color: #0a95cc;
}
.team-colors .Blue .e6 {
  background-color: #0a6ecc;
}
.team-colors .Blue .e7 {
  background-color: #0a47cc;
}
.team-colors .Blue .e8 {
  background-color: #0a24cc;
}
.team-colors .Blue .e9 {
  background-color: #3d0acc;
}
.team-colors .Blue .e10 {
  background-color: #4e0acc;
}
 
.team-colors .Blue .f1 {
  background-color: #3ca508;
}
.team-colors .Blue .f2 {
  background-color: #08a515;
}
.team-colors .Blue .f3 {
  background-color: #08a569;
}
.team-colors .Blue .f4 {
  background-color: #08a0a5;
}
.team-colors .Blue .f5 {
  background-color: #0879a5;
}
.team-colors .Blue .f6 {
  background-color: #0859a5;
}
.team-colors .Blue .f7 {
  background-color: #083aa5;
}
.team-colors .Blue .f8 {
  background-color: #081da5;
}
.team-colors .Blue .f9 {
  background-color: #3208a5;
}
.team-colors .Blue .f10 {
  background-color: #3f08a5;
}
 
.team-colors .Blue .g1 {
  background-color: #2e7f06;
}
.team-colors .Blue .g2 {
  background-color: #067f10;
}
.team-colors .Blue .g3 {
  background-color: #067f51;
}
.team-colors .Blue .g4 {
  background-color: #067b7f;
}
.team-colors .Blue .g5 {
  background-color: #065d7f;
}
.team-colors .Blue .g6 {
  background-color: #06447f;
}
.team-colors .Blue .g7 {
  background-color: #062c7f;
}
.team-colors .Blue .g8 {
  background-color: #06167f;
}
.team-colors .Blue .g9 {
  background-color: #26067f;
}
.team-colors .Blue .g10 {
  background-color: #30067f;
}
 
.team-colors .Orange .a1 {
  background-color: #7f7f39;
}
.team-colors .Orange .a2 {
  background-color: #7f7039;
}
.team-colors .Orange .a3 {
  background-color: #7f6339;
}
.team-colors .Orange .a4 {
  background-color: #7f5a39;
}
.team-colors .Orange .a5 {
  background-color: #7f5439;
}
.team-colors .Orange .a6 {
  background-color: #7f4e39;
}
.team-colors .Orange .a7 {
  background-color: #7f4739;
}
.team-colors .Orange .a8 {
  background-color: #7f3939;
}
.team-colors .Orange .a9 {
  background-color: #7f3951;
}
.team-colors .Orange .a10 {
  background-color: #7f395c;
}
 
.team-colors .Orange .b1 {
  background-color: #b2b23e;
}
.team-colors .Orange .b2 {
  background-color: #b2993e;
}
.team-colors .Orange .b3 {
  background-color: #b2843e;
}
.team-colors .Orange .b4 {
  background-color: #b2743e;
}
.team-colors .Orange .b5 {
  background-color: #b26a3e;
}
.team-colors .Orange .b6 {
  background-color: #b2613e;
}
.team-colors .Orange .b7 {
  background-color: #b2553e;
}
.team-colors .Orange .b8 {
  background-color: #b23e3e;
}
.team-colors .Orange .b9 {
  background-color: #b23e67;
}
.team-colors .Orange .b10 {
  background-color: #b23e78;
}
 
.team-colors .Orange .c1 {
  background-color: #e5e539;
}
.team-colors .Orange .c2 {
  background-color: #e5c039;
}
.team-colors .Orange .c3 {
  background-color: #e5a039;
}
.team-colors .Orange .c4 {
  background-color: #e58939;
}
.team-colors .Orange .c5 {
  background-color: #e57b39;
}
.team-colors .Orange .c6 {
  background-color: #e56d39;
}
.team-colors .Orange .c7 {
  background-color: #e55b39;
}
.team-colors .Orange .c8 {
  background-color: #e53939;
}
.team-colors .Orange .c9 {
  background-color: #e53975;
}
.team-colors .Orange .c10 {
  background-color: #e5398f;
}
 
.team-colors .Orange .d1 {
  background-color: #fcfc0c;
}
.team-colors .Orange .d2 {
  background-color: #fcc80c;
}
.team-colors .Orange .d3 {
  background-color: #fc9c0c;
}
.team-colors .Orange .d4 {
  background-color: #fc7c0c;
}
.team-colors .Orange .d5 {
  background-color: #fc680c;
}
.team-colors .Orange .d6 {
  background-color: #fc540c;
}
.team-colors .Orange .d7 {
  background-color: #fc3c0c;
}
.team-colors .Orange .d8 {
  background-color: #fc0c0c;
}
.team-colors .Orange .d9 {
  background-color: #fc0c60;
}
.team-colors .Orange .d10 {
  background-color: #fc0c84;
}
 
.team-colors .Orange .e1 {
  background-color: #cccc0a;
}
.team-colors .Orange .e2 {
  background-color: #cca20a;
}
.team-colors .Orange .e3 {
  background-color: #cc7e0a;
}
.team-colors .Orange .e4 {
  background-color: #cc640a;
}
.team-colors .Orange .e5 {
  background-color: #cc540a;
}
.team-colors .Orange .e6 {
  background-color: #cc440a;
}
.team-colors .Orange .e7 {
  background-color: #cc300a;
}
.team-colors .Orange .e8 {
  background-color: #cc0a0a;
}
.team-colors .Orange .e9 {
  background-color: #cc0a4e;
}
.team-colors .Orange .e10 {
  background-color: #cc0a6b;
}
 
.team-colors .Orange .f1 {
  background-color: #a5a508;
}
.team-colors .Orange .f2 {
  background-color: #a58308;
}
.team-colors .Orange .f3 {
  background-color: #a56608;
}
.team-colors .Orange .f4 {
  background-color: #a55108;
}
.team-colors .Orange .f5 {
  background-color: #a54408;
}
.team-colors .Orange .f6 {
  background-color: #a53708;
}
.team-colors .Orange .f7 {
  background-color: #a52708;
}
.team-colors .Orange .f8 {
  background-color: #a50808;
}
.team-colors .Orange .f9 {
  background-color: #a5083f;
}
.team-colors .Orange .f10 {
  background-color: #a50857;
}
 
.team-colors .Orange .g1 {
  background-color: #7f7f06;
}
.team-colors .Orange .g2 {
  background-color: #7f6506;
}
.team-colors .Orange .g3 {
  background-color: #7f4f06;
}
.team-colors .Orange .g4 {
  background-color: #7f3e06;
}
.team-colors .Orange .g5 {
  background-color: #7f3406;
}
.team-colors .Orange .g6 {
  background-color: #7f2a06;
}
.team-colors .Orange .g7 {
  background-color: #7f1e06;
}
.team-colors .Orange .g8 {
  background-color: #7f0606;
}
.team-colors .Orange .g9 {
  background-color: #7f0630;
}
.team-colors .Orange .g10 {
  background-color: #7f0642;
}
 
.team-colors .Accent .a1 {
  background-color: #e5e5e5;
}
.team-colors .Accent .a2 {
  background-color: #ff7f7f;
}
.team-colors .Accent .a3 {
  background-color: #ff9f7f;
}
.team-colors .Accent .a4 {
  background-color: #ffcf7f;
}
.team-colors .Accent .a5 {
  background-color: #efff7f;
}
.team-colors .Accent .a6 {
  background-color: #afff7f;
}
.team-colors .Accent .a7 {
  background-color: #7fff7f;
}
.team-colors .Accent .a8 {
  background-color: #7fffb2;
}
.team-colors .Accent .a9 {
  background-color: #7fe9ff;
}
.team-colors .Accent .a10 {
  background-color: #7fb0ff;
}
.team-colors .Accent .a11 {
  background-color: #7f88ff;
}
.team-colors .Accent .a12 {
  background-color: #ae7fff;
}
.team-colors .Accent .a13 {
  background-color: #e57fff;
}
.team-colors .Accent .a14 {
  background-color: #ff7fd0;
}
.team-colors .Accent .a15 {
  background-color: #ff7f94;
}
 
.team-colors .Accent .b1 {
  background-color: #bfbfbf;
}
.team-colors .Accent .b2 {
  background-color: #ff5959;
}
.team-colors .Accent .b3 {
  background-color: #ff8259;
}
.team-colors .Accent .b4 {
  background-color: #ffc059;
}
.team-colors .Accent .b5 {
  background-color: #eaff59;
}
.team-colors .Accent .b6 {
  background-color: #97ff59;
}
.team-colors .Accent .b7 {
  background-color: #59ff59;
}
.team-colors .Accent .b8 {
  background-color: #59ff9b;
}
.team-colors .Accent .b9 {
  background-color: #59e3ff;
}
.team-colors .Accent .b10 {
  background-color: #5998ff;
}
.team-colors .Accent .b11 {
  background-color: #5964ff;
}
.team-colors .Accent .b12 {
  background-color: #9659ff;
}
.team-colors .Accent .b13 {
  background-color: #dd59ff;
}
.team-colors .Accent .b14 {
  background-color: #ff59c2;
}
.team-colors .Accent .b15 {
  background-color: #ff5974;
}
 
.team-colors .Accent .c1 {
  background-color: #999999;
}
.team-colors .Accent .c2 {
  background-color: #ff3232;
}
.team-colors .Accent .c3 {
  background-color: #ff6532;
}
.team-colors .Accent .c4 {
  background-color: #ffb232;
}
.team-colors .Accent .c5 {
  background-color: #e5ff32;
}
.team-colors .Accent .c6 {
  background-color: #7fff32;
}
.team-colors .Accent .c7 {
  background-color: #32ff32;
}
.team-colors .Accent .c8 {
  background-color: #32ff84;
}
.team-colors .Accent .c9 {
  background-color: #32dcff;
}
.team-colors .Accent .c10 {
  background-color: #3281ff;
}
.team-colors .Accent .c11 {
  background-color: #3240ff;
}
.team-colors .Accent .c12 {
  background-color: #7d32ff;
}
.team-colors .Accent .c13 {
  background-color: #d632ff;
}
.team-colors .Accent .c14 {
  background-color: #ff32b4;
}
.team-colors .Accent .c15 {
  background-color: #ff3255;
}
 
.team-colors .Accent .d1 {
  background-color: #666666;
}
.team-colors .Accent .d2 {
  background-color: #ff0000;
}
.team-colors .Accent .d3 {
  background-color: #ff3f00;
}
.team-colors .Accent .d4 {
  background-color: #ff9f00;
}
.team-colors .Accent .d5 {
  background-color: #dfff00;
}
.team-colors .Accent .d6 {
  background-color: #5fff00;
}
.team-colors .Accent .d7 {
  background-color: #00ff00;
}
.team-colors .Accent .d8 {
  background-color: #00ff66;
}
.team-colors .Accent .d9 {
  background-color: #00d4ff;
}
.team-colors .Accent .d10 {
  background-color: #0061ff;
}
.team-colors .Accent .d11 {
  background-color: #0011ff;
}
.team-colors .Accent .d12 {
  background-color: #5d00ff;
}
.team-colors .Accent .d13 {
  background-color: #cc00ff;
}
.team-colors .Accent .d14 {
  background-color: #ff00a1;
}
.team-colors .Accent .d15 {
  background-color: #ff002a;
}
 
.team-colors .Accent .e1 {
  background-color: #3f3f3f;
}
.team-colors .Accent .e2 {
  background-color: #b20000;
}
.team-colors .Accent .e3 {
  background-color: #b22c00;
}
.team-colors .Accent .e4 {
  background-color: #b26f00;
}
.team-colors .Accent .e5 {
  background-color: #9cb200;
}
.team-colors .Accent .e6 {
  background-color: #42b200;
}
.team-colors .Accent .e7 {
  background-color: #00b200;
}
.team-colors .Accent .e8 {
  background-color: #00b247;
}
.team-colors .Accent .e9 {
  background-color: #0094b2;
}
.team-colors .Accent .e10 {
  background-color: #0044b2;
}
.team-colors .Accent .e11 {
  background-color: #000bb2;
}
.team-colors .Accent .e12 {
  background-color: #4100b2;
}
.team-colors .Accent .e13 {
  background-color: #8e00b2;
}
.team-colors .Accent .e14 {
  background-color: #b20071;
}
.team-colors .Accent .e15 {
  background-color: #b2001d;
}
 
.team-colors .Accent .f1 {
  background-color: #262626;
}
.team-colors .Accent .f2 {
  background-color: #660000;
}
.team-colors .Accent .f3 {
  background-color: #661900;
}
.team-colors .Accent .f4 {
  background-color: #663f00;
}
.team-colors .Accent .f5 {
  background-color: #596600;
}
.team-colors .Accent .f6 {
  background-color: #266600;
}
.team-colors .Accent .f7 {
  background-color: #006600;
}
.team-colors .Accent .f8 {
  background-color: #006628;
}
.team-colors .Accent .f9 {
  background-color: #005466;
}
.team-colors .Accent .f10 {
  background-color: #002766;
}
.team-colors .Accent .f11 {
  background-color: #000666;
}
.team-colors .Accent .f12 {
  background-color: #250066;
}
.team-colors .Accent .f13 {
  background-color: #510066;
}
.team-colors .Accent .f14 {
  background-color: #660040;
}
.team-colors .Accent .f15 {
  background-color: #660011;
}
 
.team-colors .Accent .g1 {
  background-color: #050505;
}
.team-colors .Accent .g2 {
  background-color: #330000;
}
.team-colors .Accent .g3 {
  background-color: #330c00;
}
.team-colors .Accent .g4 {
  background-color: #331f00;
}
.team-colors .Accent .g5 {
  background-color: #2c3300;
}
.team-colors .Accent .g6 {
  background-color: #133300;
}
.team-colors .Accent .g7 {
  background-color: #003300;
}
.team-colors .Accent .g8 {
  background-color: #003314;
}
.team-colors .Accent .g9 {
  background-color: #002a33;
}
.team-colors .Accent .g10 {
  background-color: #001333;
}
.team-colors .Accent .g11 {
  background-color: #000333;
}
.team-colors .Accent .g12 {
  background-color: #120033;
}
.team-colors .Accent .g13 {
  background-color: #280033;
}
.team-colors .Accent .g14 {
  background-color: #330020;
}
.team-colors .Accent .g15 {
  background-color: #330008;
}